{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
<div class="container">


    <h1 class="text-center page-header">Product creation</h1>

    <div class="col-md-6">
      {{ form_start(form) }}
          {{ form_widget(form) }}
          <input class="btn btn-default" type="submit" value="Create" />
      {{ form_end(form, { 'attr': {'class': 'form-control'} }) }}
    </div>





    <div class="col-md-6">

              <a class="list-group-item list-group-item-info" href="{{ path('product_index') }}">Back to the list</a>

    </div>

</div>
{% endblock %}
